<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

	<title>{% block title %} ? {% endblock %} - XY博客</title>

	{% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/xyblog-style.css' %}">
    <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/tether.min.js' %}"></script>
    
    {% block beforehead %}{% endblock %}
</head>

<body>

	<div class="xy-header">
		<div class="container-fluid">
			<div class="xy-header-inner">
				<a href="{% url 'blog:index' %}" class="navbar-brand xy-site-name">XY博客</a>

				<nav class="navbar xy-main-nav">

					<button class="navbar-toggler hidden-md-up" type="button"
						data-toggle="collapse" data-target="#tmNavbar">&#9776;</button>

					<div class="collapse navbar-toggleable-sm" id="tmNavbar">
						<ul class="nav navbar-nav">
							{% block nav-li-index %}<li class="nav-item"><a href="{% url 'blog:index' %}" class="nav-link">首页</a></li>{% endblock %}
							{% block nav-li-list %}<li class="nav-item"><a href="{% url 'blog:list' %}" class="nav-link">看看</a></li>{% endblock %}
							{% block nav-li-write %}<li class="nav-item"><a href="{% url 'blog:write' %}" class="nav-link">写写</a></li>{% endblock %}
							{% block nav-li-login-register %}<li class="nav-item"><a href="{% url 'blog:login' %}" class="nav-link">登录 / 注册</a></li>{% endblock %}
						</ul>
					</div>

				</nav>

			</div>
		</div>
	</div>

	{% block page_image %}
	{% endblock %}

	{% block main %}
	{% endblock %}

	<footer class="xy-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 xy-copyright-col">
					<p class="xy-copyright-text">
						Copyright  2016  黄昊宇. 联系方式：yxhuanghaoyu@126.com
					</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>