{% extends "blog/__base__.html" %}

{% block title %}首页{% endblock %}

{% block nav-li-index %}
<li class="nav-item active"><a href="#" class="nav-link">首页</a></li>
{% endblock %}

{% block nav-li-login %}
{% if user %}
	<li class="nav-item" id="user-item"><a href="#" class="nav-link">{{ user.name }}</a></li>
	<li class="nav-item" id="logout-item" style="display: none;"><a href="{% url 'blog:logout' %}" class="nav-link">退出</a></li>
{% else %}
	<li class="nav-item"><a href="{% url 'blog:login' %}" class="nav-link">登录</a></li>
{% endif %}
{% endblock %}

{% block page_image %}
{% load static %}
<div class="xy-home-img-container">
	<img src="{% static 'blog/images/tm-home-img.jpg' %}" alt="Image" class="hidden-lg-up img-fluid">
</div>
{% endblock %}

{% block beforehead %}
<script>
$(document).on('ready', function() {
	$('#user-item').on('mouseenter', function() {
		$(this).hide();
		$('#logout-item').show();
	});
	$('#logout-item').on('mouseleave', function() {
		$(this).hide();
		$('#user-item').show();
	});
});
</script>

<style>
.img-box {
	float: left;
	position: relative;
	left: 50%;
}
.blog-image {
	height: 180px;
	max-width: initial;
    position: relative;
    right: 50%;
}
.blog-title {
	width: inherit;
	height: 35px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.blog-summary {
	width: inherit;
    height: 68px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
</style>
{% endblock %}

{% block main %}
<section class="xy-section">
	<div class="container-fluid">
		<div class="row">
			{% for blog in blogs %} 
				{% if forloop.counter <= 4 and blog is not None %}
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
					<div class="xy-content-box">
						{% if blog.image %}
						<div class="img-box">
							<img src="{{ blog.image.url }}" alt="Image" class="xy-margin-b-20 img-fluid blog-image">
						</div>
						{% endif %}
						<div style="width: inherit; height: 180px; margin-bottom: 20px;"><!-- 占位的div元素 --></div>
						<h4 class="xy-margin-b-20 xy-gold-text blog-title">{{ blog.title }}</h4>
						<p class="xy-margin-b-20 blog-summary">{{ blog.summary }}</p>
						<a href="{% url 'blog:detail' blog.id %}" class="xy-btn text-uppercase">详情</a>
					</div>
				</div>
				{% endif %}
			{% empty %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<p>还没有人写过博客~</p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
